<table class="table table-dash">
    <thead>
        <th>Id</th>
        <th>Part Name</th>
        <th>Category</th>
        <th>Current Stock</th>

    </thead>
    <tbody>
        {%for inst in dash%}
        <tr class="table_row">
            <td class="t_id">{{inst.id}}</td>
            <td class="t_part_name">{{inst.name}}</td>
            <td class="t_part_type">{{inst.category | capfirst}}</td>
            <td class="t_current_stock">{{inst.currentStock}}</td>
            <td>
                <input id="new_input" class="t_cs_editable" style="display: none;" type="number" name="new_quantity" placeholder="{{inst.currentStock}}" >
            </td>
            <input type="hidden" name=""> 
        </tr>
        {%endfor%}

    </tbody>
    
        

</table>